body {
    margin: 0;
    background-color: #f0f8ff;
  }
  
  .fullsize {
    min-height: 100vh;
    display: grid;
  }
  
  .loading {
    text-align: center;
    color: rgba(1, 66, 78, 0.753);
  }
  
  .firstLoadingTitle {
    margin-top: 20px;
  }
  