/* 주문내역이 없을 경우 보이는 화면 */
.ifNoData {
  display: none;
}

/* 
  1fr: 나의 주문내역
  2fr: 주문정보
  1fr: 버튼부
  50px: 푸터 
*/
.myOrderMain {
  display: none;
  font-family: 'Nanum Gothic', sans-serif;
  grid-template-rows: 1fr 2fr 1fr 50px;
}

header,
main,
section {
  padding: 15px 15px 15px 15px;
}

.myMenu,
.quantityContainer,
.address,
.time,
.demandContainer {
  font-weight: bold;
  color: grey;
}

.backIcon {
  font-size: 1.5rem;
}

.myOrderTitle {
  margin-top: 10px;
  font-weight: bold;
  color: black;
}

.quantityContainer,
.address,
.time,
.demandContainer {
  font-size: 0.9rem;
  margin-top: 15px;
}

.prevBtn, .nextBtn {
    font-size: 1.3rem;
}

.nextBtn, .cancelBtn {
    float: right;
}

.fixAndCancelBtnContainer {
    margin-top: 20px;
}

.fixBtn {
    margin-left: 40px;
}

.cancelBtn {
    margin-right: 40px;
}
