/*
  1fr: 헤더
  2fr: 주문정보
  50px: 푸터
*/
.order {
  font-family: "Nanum Gothic", sans-serif;
  grid-template-rows: 1fr 2fr 50px;
  display: none;
}

header {
  
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.backIcon {
  position: relative;
  bottom: 30px;
  font-size: 1.5rem;
}

.menuName,
.menuDate {
  text-align: center;
  font-weight: bold;
}

.menuDate {
  color: grey;
}

main {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.address, .time, .demand {
  margin-top: 10px;
}

.orderBtnContainer {
  margin-top: 10px;
}
